
.main_Div{
    /* border: red 2px solid; */
    height: 90vh;
    padding:  0 1rem;
    margin-left:2rem ;
    width: 100%; 
     padding-right: 3rem;


}
.rightSroll{
    /* border: red 2px solid; */
    height: 95vh;
    overflow: hidden;
    overflow-y: scroll;
    position: fixed; 

}
.rightSroll::-webkit-scrollbar{
    display: none;
}
.fixe{
    /* border: red 2px solid;  */
    margin-top: -1rem;
    padding: 10px;
    position: sticky;
    z-index: 99;
    top: 0;
    background-color: white;
    /* position: fixed;  */
}

.search_bar{
    /* border: red 2px solid; */
    /* margin-top: -30px; */
    border-radius: 30px;
    height: 8vh;
    /* padding: 0 1rem; */
    background-color: #eff1f4;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* position: fixed; */
}

.search_bar input{
    height: 5vh;
    width: 18vw;
    border: none;
    background-color: #eff1f4;
    
}
.search_bar input:focus {
    border: none;
    outline: none;
    
  }
.happen{
    /* border: red 2px solid; */
    border-radius: 10px;
    margin-top: 1rem;
    width: 25vw;
    height: auto;
    /* padding: 0 1rem; */
    background-color: #eff1f4;
}
.follow{
    /* border: red 2px solid; */
    border-radius: 10px;
    margin-top: 1rem;
    height: 55vh;
    /* padding: 0 1rem; */
    background-color:#eff1f4;
}
.head{
    /* border: red 2px solid; */
    cursor: pointer;
    padding: 10px;
    font-weight: 1000;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.head:hover{
    background-color: #dfe1e3;
    border-radius: 10px 10px 0 0;
}
.more{
    
}

.mapBox{
    /* border: red 2px solid; */
    margin: 15px 0;
    padding: 0 10px;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.mapBox:hover{
    background-color: #dfe1e3;
}
.title{
    font-size: smaller;
    font-weight: 400;
    display: flex;
}
.name{
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}
.tweets{
    font-size: smaller;
    font-weight: 400;
}

.showmore{
    /* border: red 2px solid;  */
    border-radius: 0 0px 10px 10px;
    height: 1.6rem;
    cursor: pointer;
    margin-top: 0;
    padding:  4px ;
}
.showmore:hover{
    background-color: #dfe1e3;
}

/* css for who to follow */

.toFollow{
    cursor: pointer;
    padding:  10px;
    font-weight: 1000;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
  
}  
.toFollow:hover{
    background-color: #dfe1e3;
    border-radius: 10px 10px 0 0;
} 
.toFollowBox{
    display: flex;
  cursor: pointer;
    gap: 10px;
    align-items: center;
    /* margin: 10px 0; */
    height: 10vh;
    padding: 0 10px;
    /* border: red 2px solid; */
   
}
.toFollowBox:hover{
    background-color: #dfe1e3;
}
.followName{
    /* border: red 2px solid; */
    /* margin-left: -10px; */
    width: 7vw;
}
.followMore{
    /* border: red 2px solid; */
    cursor: pointer;
    height: 5.4vh;
    padding: 5px;
    border-radius: 0 0px 10px 10px;
    /* position: sticky; */
    top: 40px;
   
}
.followMore:hover{
    background-color: #dfe1e3;
}
.followBtn{
    /* border: red 2px solid; */
    margin-left: 2rem;
}
.filterData{
    margin-top: 10px;
    height: 50vh;
    /* border: red 2px solid; */
    z-index: 99;
    position: fixed;
    width: 23vw;
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
}